html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.body.no-scroll {
  overflow: hidden;
}

.section {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    margin-bottom: 120px;
  }
}

.checkbox__icon-wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(51, 51, 51, 0.5);
}
.checkbox__icon-wrapper > .checkbox__icon {
  display: none;
}

.checkbox__icon {
  fill: #333333;
}

.checkbox__input:checked ~ .checkbox__icon-wrapper {
  background-color: #F3F3F3;
  border: none;
}
.checkbox__input:checked ~ .checkbox__icon-wrapper > .checkbox__icon {
  display: block;
}

.title {
  font-weight: 300;
  color: #BDBDBD;
  line-height: 1;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 64px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-right: 135px;
    padding-left: 135px;
  }
}

.link {
  display: block;
  text-decoration: none;
}

.icon {
  display: block;
  color: currentColor;
}

.button {
  cursor: pointer;
  display: block;
  background-color: transparent;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.view-more-btn {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.view-more-btn:hover .view-more-btn__icon {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(90deg);
  -webkit-animation: arrow-jump 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms infinite;
          animation: arrow-jump 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms infinite;
}

@-webkit-keyframes arrow-jump {
  0% {
    transform: rotate(90deg) translateX(-5px);
  }
  100% {
    transform: rotate(90deg) translateX(5px);
  }
}

@keyframes arrow-jump {
  0% {
    transform: rotate(90deg) translateX(-5px);
  }
  100% {
    transform: rotate(90deg) translateX(5px);
  }
}
.header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .header-nav {
    width: 770px;
  }
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__item {
  margin-right: 60px;
}
.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  position: relative;
  padding: 4px 0;
  text-transform: uppercase;
  color: #333333;
}
.header-nav__link::before, .header-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333333;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header-nav__link::before {
  top: 0;
  transform-origin: left;
}
.header-nav__link::after {
  bottom: 0;
  transform-origin: right;
}

.header-nav__link--active::before, .header-nav__link--active::after {
  transform: scale(1);
}

.header-nav__link:hover::before, .header-nav__link:hover::after {
  transform: scale(1);
}

.logo__icon {
  display: block;
  fill: #333333;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../../images/hero/hero-mobile@1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
    height: 829px;
    background-size: 770px 829px;
    background-position: right;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), url("../../../images/hero/hero-desktop@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), url("../../../images/hero/hero-desktop@2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url("../../../images/hero/hero-desktop@1x.jpg");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../../images/hero/hero-desktop@2x.jpg");
  }
}

.hero__view {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 1440px) {
  .hero__view {
    width: 770px;
  }
}

.hero__view-btn {
  padding: 16px 25px;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: #333333;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .hero__view-btn {
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__view-btn {
    padding: 30px 50px;
  }
}

.heading {
  flex-grow: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding-left: 16px;
  padding-top: 50px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .heading {
    padding-left: 100px;
    padding-top: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .heading {
    padding-left: 0;
    padding-top: 336px;
  }
}

.heading__title {
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .heading__title {
    margin-bottom: 90px;
  }
}

.heading__arrows {
  display: flex;
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .heading__arrows {
    margin-bottom: 90px;
  }
}

.heading__slide-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #F2F2F2;
  background-color: #F9F9F9;
}
.heading__slide-btn:hover {
  background-color: #c1bfbf;
}
@media screen and (min-width: 768px) {
  .heading__slide-btn {
    width: 53px;
    height: 53px;
    background-color: #F9F9F9;
    border: 1px solid #b6b6b6;
  }
}
@media screen and (min-width: 1440px) {
  .heading__slide-btn {
    border: 1px solid #F2F2F2;
  }
}

.heading__slide-btn + .heading__slide-btn {
  margin-left: 23px;
}

.heading__next-btn-wrapper {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .heading__next-btn-wrapper::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #F2F2F2;
  }
}

.heading__date {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #ffffff;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .heading__date {
    width: 142px;
    color: #333333;
  }
}
@media screen and (min-width: 1440px) {
  .heading__date {
    color: #BDBDBD;
  }
}

.heading__date::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #e7e7e7;
}
@media screen and (min-width: 768px) {
  .heading__date::after {
    width: 44px;
    background-color: #333333;
  }
}
@media screen and (min-width: 1440px) {
  .heading__date::after {
    background-color: #E0E0E0;
  }
}

.main-title {
  font-size: 48px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 64px;
  }
}

.main-title__upper {
  font-weight: 300;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .main-title__upper {
    color: #333333;
  }
}
@media screen and (min-width: 1440px) {
  .main-title__upper {
    color: #BDBDBD;
  }
}

.main-title__lower {
  font-weight: 700;
  color: #333333;
}

.about {
  background-color: #FBFBFB;
  padding: 16px 16px;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 30px 30px 30px 330px;
    background: url("../../../images/about/about-1-desktop@1x.jpg") top 30px left 30px no-repeat;
    background-color: #FBFBFB;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding: 30px 70px 60px 700px;
    background-color: transparent;
    background: url("../../../images/about/about-1-desktop@1x.jpg") top 60px left 400px no-repeat, url("../../../images/about/about-2-desktop@1x.jpg") top 30px left 100px no-repeat, url("../../../images/about/about-3-desktop@1x.jpg") bottom 0 left 100px no-repeat, linear-gradient(#FBFBFB, #FBFBFB calc(100% - 30px), #ffffff calc(100% - 30px), #ffffff);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .about {
    background: url("../../../images/about/about-1-desktop@2x.jpg") top 60px left 400px no-repeat, url("../../../images/about/about-2-desktop@2x.jpg") top 30px left 100px no-repeat, url("../../../images/about/about-3-desktop@2x.jpg") bottom 0 left 100px no-repeat, linear-gradient(#FBFBFB, #FBFBFB calc(100% - 30px), #ffffff calc(100% - 30px), #ffffff);
    background-size: 270px 345px, 270px 265px, 270px 140px, 100% 100%;
  }
}

.about__title {
  margin-bottom: 20px;
}
.about__description {
  line-height: 1.79;
  color: #000000;
  margin-bottom: 20px;
}
.about__readmore-btn {
  padding: 16px 50px;
  color: #333333;
}
@media screen and (min-width: 1440px) {
  .about__readmore-btn {
    padding: 24px 65px;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}

.tasks__title {
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .tasks__title {
    margin-bottom: 60px;
  }
}

.tasks__list {
  font-size: 14px;
  line-height: 1.636;
}
@media screen and (min-width: 1440px) {
  .tasks__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
  }
}

.tasks__item {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-shrink: 0;
  margin-bottom: 30px;
}
.tasks__item:nth-child(1) .tasks__text {
  width: 279px;
}
.tasks__item:nth-child(2) .tasks__text {
  width: 440px;
}
.tasks__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .tasks__item {
    margin-bottom: 0;
  }
}

.tasks__icon {
  flex-shrink: 0;
  fill: #F2F2F2;
  width: 60px;
}
@media screen and (min-width: 768px) {
  .tasks__icon {
    width: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .tasks__icon {
    height: 140px;
  }
}

.projects__title {
  margin-bottom: 22px;
}
@media screen and (min-width: 1440px) {
  .projects__title {
    margin-bottom: 60px;
  }
}

.projects__list {
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .projects__list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.projects__card {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 470px;
}
@media screen and (min-width: 768px) {
  .projects__card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 1440px) {
  .projects__card {
    max-width: none;
    width: auto;
    margin-bottom: 0;
  }
}
.projects__card:last-child {
  margin-bottom: 0;
}

.projects__card--invisible {
  display: none;
}
@media screen and (min-width: 1440px) {
  .projects__card--invisible {
    display: list-item;
  }
}

.projects__rest-btn {
  padding: 16px 40px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 480px;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #ffffff;
  background-color: #333333;
}
@media screen and (min-width: 1440px) {
  .projects__rest-btn {
    max-width: none;
    width: auto;
    margin-right: 0;
    margin-left: auto;
    padding: 30px 40px;
  }
}

.projects__rest-btn-icon {
  fill: #ffffff;
}

.card {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .card {
    position: relative;
    cursor: pointer;
  }
  .card:hover .card__overlay {
    transform: translateY(0);
  }
}

.card__overlay {
  display: none;
}
@media screen and (min-width: 768px) {
  .card__overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    background-color: rgba(51, 51, 51, 0.8);
  }
}
@media screen and (min-width: 1440px) {
  .card__overlay {
    transform: translateY(101%);
  }
}

.card__overlay--small {
  padding: 50px 30px;
}

.card__overlay--medium {
  padding: 20px 30px;
}
@media screen and (min-width: 1440px) {
  .card__overlay--medium {
    padding: 50px 40px;
  }
}

.card__overlay--large {
  padding: 30px 40px;
}
@media screen and (min-width: 1440px) {
  .card__overlay--large {
    padding: 50px 80px;
  }
}

.card__title {
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
}

.card__title--large {
  font-size: 48px;
}
@media screen and (min-width: 1440px) {
  .card__title--large {
    font-size: 64px;
  }
}

.card__title--medium {
  font-size: 48px;
}

.card__title--small {
  line-height: 1.3;
  font-size: 32px;
}

.card__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2.4px;
}
.card__btn:hover {
  color: #BDBDBD;
}

.card__btn-icon {
  fill: currentColor;
}

.card__image {
  display: block;
}

.contacts__title {
  margin-bottom: 22px;
}

.contacts__submit-btn {
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding: 16px 48px;
  background-color: #333333;
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
}
@media screen and (min-width: 1440px) {
  .contacts__submit-btn {
    padding: 24px 48px;
  }
}

.contacts__submit-btn-icon {
  fill: #ffffff;
}

.form__wrapper {
  margin-bottom: 22px;
}
@media screen and (min-width: 1440px) {
  .form__wrapper {
    background-image: url("../../../images/contacts/contacts-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .form__wrapper {
    background-image: url("../../../images/contacts/contacts-desktop@1x.jpg");
  }
}

.form__field {
  border: none;
  display: block;
  width: 100%;
  padding: 15px 21px;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: 1.21;
  color: #8D8D8D;
  background-color: #F3F3F3;
}
.form__field:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .form__field {
    width: 391px;
  }
}

.form__area {
  height: 147px;
}

.form__privacy {
  width: 391px;
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-bottom: 21px;
  color: #333333;
  font-size: 14px;
  line-height: 1.21;
}

.form__submit-btn:disabled {
  background-color: rgb(203, 198, 196);
  color: #8D8D8D;
}
.form__submit-btn:disabled > .icon {
  fill: #8D8D8D;
  -webkit-animation: none;
          animation: none;
  transform: none;
}

.footer {
  color: #ffffff;
  font-weight: 500;
  background-color: #2C2C2C;
}

.footer__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.footer__upper {
  padding: 60px 0;
}
@media screen and (min-width: 1440px) {
  .footer__upper {
    display: flex;
    align-items: flex-start;
  }
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 60px;
  display: block;
  width: 145px;
  height: 94px;
}
@media screen and (min-width: 1440px) {
  .footer__logo {
    margin-right: 100px;
  }
}

.footer__logo-icon {
  fill: #ffffff;
}

.footer__contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__contacts {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer__lower {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__copyright {
  color: rgba(200, 200, 200, 0.5);
  font-size: 12px;
  line-height: 1.83;
}

.footer-nav {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    margin-bottom: 0;
    text-align: left;
    padding-left: 50px;
    width: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-nav {
    padding-left: 0;
    width: auto;
    margin-right: 157px;
  }
}

.footer-nav__title {
  margin-bottom: 15px;
}

.footer-nav__list {
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav__item {
  margin-bottom: 16px;
}
.footer-nav__item:last-child {
  margin-bottom: 0;
}

.footer-nav__link {
  text-transform: lowercase;
  color: #ffffff;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__link::first-letter {
  text-transform: capitalize;
}
.footer-nav__link:hover {
  text-shadow: 2px 1px 8px rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-address {
    width: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-address {
    width: 320px;
  }
}

.footer-address__title {
  margin-bottom: 15px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-address__title {
    margin-bottom: 25px;
    text-align: left;
  }
}

.footer-address__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .footer-address__item {
    justify-content: flex-start;
  }
}

.footer-address__item--location {
  text-align: center;
  margin-bottom: 20px;
}
.footer-address__item--location > .footer-address__icon-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-address__item--location {
    margin-bottom: 50px;
    text-align: left;
  }
  .footer-address__item--location > .footer-address__icon-wrapper {
    display: block;
  }
}

.footer-address__item--link {
  margin-bottom: 14px;
}
.footer-address__item--link:last-child {
  margin-bottom: 0;
}
.footer-address__item--link:hover .icon {
  -webkit-animation: icon-jump 500ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
          animation: icon-jump 500ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@media screen and (min-width: 1440px) {
  .footer-address__item--link {
    margin-bottom: 33px;
  }
}

.footer-address__icon-wrapper {
  flex-shrink: 0;
  padding-top: 3px;
}

.footer-address__icon {
  stroke: #ffffff;
  fill: #2c2c2c;
}

@-webkit-keyframes icon-jump {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes icon-jump {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
  }
}
.footer-socials {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer-socials__title {
  margin-bottom: 23px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .footer-socials__title {
    text-align: left;
  }
}

.footer-socials__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.footer-socials__link {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:hover {
  transform: scale(1.3);
}

.footer-socials__icon {
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */