.contacts__title {
    margin-bottom: 22px;
}

.contacts__submit-btn {
    column-gap: 12px;
    padding: 16px 48px;
    background-color: $primary-text-color;
    color: #ffffff;

    font-size: 12px;
    line-height: 1;

    @include mq('desktop') {
        padding: 24px 48px;
    }
}

.contacts__submit-btn-icon {
    fill: #ffffff;
}