.heading {
    // padding-left: 100px;
    // padding-top: 336px;
    flex-grow: 1;
    width: fit-content;
    margin-left: auto;
    padding-left: 16px;
    padding-top: 50px;
    padding-right: 30px;

    // justify-self: flex-end;

    @include mq('tablet') {
        padding-left: 100px;
        padding-top: 200px;
    }


    @include mq('desktop') {
        padding-left: 0;

        padding-top: 336px;
    }

    // @media screen and (max-width: ) {}
}


.heading__title {
    margin-bottom: 70px;

    @include mq('tablet') {
        margin-bottom: 90px;
    }
}



.heading__arrows {
    display: flex;
    margin-bottom: 70px;

    @include mq('tablet') {
        margin-bottom: 90px;
    }


}

.heading__slide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 53px;
    height: 53px;
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;

    &:hover {
        background-color: #c1bfbf;
    }

    @include mq('tablet') {
        background-color: #F9F9F9;
        border: 1px solid #b6b6b6;
    }

    @include mq('desktop') {
        border: 1px solid #F2F2F2;
    }
}

.heading__slide-btn+.heading__slide-btn {
    margin-left: 23px;
}

.heading__next-btn-wrapper {
    position: relative;
    width: 100%;



    @include mq('desktop') {
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: #F2F2F2;
        }
    }
}

.heading__date {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: space-between;

    font-size: 24px;
    color: #ffffff;
    line-height: 1;


    @include mq('tablet') {
        width: 142px;
        color: $primary-text-color;
    }

    @include mq('desktop') {
        color: $title-color;
    }

}


.heading__date::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #e7e7e7;


    @include mq('tablet') {
        width: 44px;
        background-color: $primary-text-color;
    }

    @include mq('desktop') {
        background-color: #E0E0E0;
    }
}