.heading {
    padding-left: 100px;
    padding-top: 336px;
    flex-grow: 1;

    // justify-self: flex-end;


    @include mq('desktop') {
        padding-left: 0;
    }

    // @media screen and (max-width: ) {}
}


.heading__title {
    margin-bottom: 90px;
}



.heading__arrows {

    display: flex;
    // column-gap: 23px;
    margin-bottom: 90px;


}

.heading__slide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 53px;
    height: 53px;
    background-color: #ffffff;
    border: 1px solid rgb(182, 182, 182);

    &:hover {
        background-color: #F9F9F9;
    }

    @include mq('desktop') {
        border: 1px solid #F2F2F2;
    }
}

.heading__slide-btn+.heading__slide-btn {
    margin-left: 23px;
}

.heading__next-btn-wrapper {
    position: relative;
    width: 100%;



    @include mq('desktop') {
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: #F2F2F2;



        }
    }
}

.heading__date {
    position: relative;
    width: 142px;
    display: flex;
    justify-content: space-between;

    font-size: 24px;
    color: $primary-text-color;
    line-height: 1;


    &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 44px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: $primary-text-color;

        @include mq('desktop') {
            background-color: #E0E0E0;
        }
    }

    @include mq('desktop') {
        color: $title-color;
    }

}

.heading__day {}

.heading__month {}