.hero {
    display: flex;
    justify-content: space-between;

    background-color: #ffffff;
    background-repeat: no-repeat;

    // @include mq('tablet') {
    //     height: 600px;
    //     background-size: cover;

    //     background-image: url("../../../images/hero/hero-tablet@1x.jpg");

    //     @include mq('retina') {
    //         background-image: url("../../../images/hero/hero-tablet@2x.jpg");
    //     }
    // }


    @include mq('tablet') {
        height: 829px;
        background-size: 770px 829px;
        background-position: right;

        background-image: url("../../../images/hero/hero-desktop@1x.jpg");

        @include mq('retina') {
            background-image: url("../../../images/hero/hero-desktop@2x.jpg");
        }
    }


    @include mq('desktop') {
        height: 829px;
        background-size: 770px 829px;
        background-position: right;

        background-image: url("../../../images/hero/hero-desktop@1x.jpg");

        @include mq('retina') {
            background-image: url("../../../images/hero/hero-desktop@2x.jpg");
        }
    }

}

.hero__view {
    display: flex;
    align-items: flex-end;


    @include mq('desktop') {
        width: 770px;
        // background-color: tomato;
    }
}


.hero__view-btn {
    color: $primary-text-color;

    @include mq('desktop') {
        padding: 30px 50px;
        column-gap: 12px;
    }
}