.tasks {}


.tasks__title {

    margin-bottom: 20px;

    @include mq('desktop') {
        margin-bottom: 60px;
    }
}

.tasks__list {

    font-size: 14px;
    line-height: 1.636;

    @include mq('desktop') {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 22px;
    }


}

.tasks__item {
    display: flex;
    column-gap: 30px;
    flex-shrink: 0;

    margin-bottom: 30px;

    &:nth-child(1) .tasks__text {
        width: 279px;
    }

    &:nth-child(2) .tasks__text {
        width: 440px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include mq('tablet') {
        // height: 140px;
    }

    @include mq('desktop') {
        margin-bottom: 0;
    }
}

.tasks__icon {
    flex-shrink: 0;
    fill: #F2F2F2;

    width: 60px;


    @include mq('tablet') {
        width: 120px;
    }

    @include mq('desktop') {
        height: 140px;
    }
}

.tasks__text {}