.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;


    &:hover .card__overlay {
        transform: translateY(0);
    }
}


.card__overlay {
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transition(transform);

    transform: translateY(101%);

    background-color: rgba(51, 51, 51, 0.8);


    &--small {
        padding: 50px 30px;
    }

    &--medium {
        padding: 50px 40px;
    }

    &--large {
        padding: 50px 80px;
    }
}

.card__title {
    font-weight: 700;
    line-height: 1;
    color: #ffffff;

    &--large {
        font-size: 64px;
    }

    &--medium {
        font-size: 48px;
    }

    &--small {
        line-height: 1.3;
        font-size: 32px;
    }
}

.card__btn {
    display: flex;
    align-items: center;
    column-gap: 12px;

    color: #ffffff;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2.4px;

    &:hover {
        color: $title-color;
    }
}

.card__btn-icon {
    fill: currentColor;
}