.projects__title {
    margin-bottom: 60px;
}

.projects__list {
    margin-bottom: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
}


.projects__card {}

.projects__rest-btn {
    margin-left: auto;
    column-gap: 12px;
    padding: 30px 40px;

    font-size: 12px;
    letter-spacing: 2.4px;

    background-color: $primary-text-color;
    color: #ffffff;
}

.projects__rest-btn-icon {
    fill: #ffffff;
}