.projects {}

.projects {}



.projects__title {
    margin-bottom: 60px;
}

.projects__list {
    margin-bottom: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
}


.projects__card {}